.constructionHeading {
    font-size: 5vmin;
    color: rgb(220, 59, 254);
    text-align: center;
}

.checkBack {
    font-size: 5vmin;
    color: rgb(220, 59, 254);
    text-align: center;
}

i.fa.fa-wrench {
    font-size: 35vmin;
    color: rgb(220, 59, 254);
    text-align: center;
    display: block;

}